* {
    margin: 0px;
    padding:  0px;
    box-sizing: border-box;
}
body {


}

.rodape{
    background-image: url("../assets/footer.png");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-size: 18px;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100vw; 
    height: 100vh;
   
  
}
